/* GLOBAL */
:global(a) {
  text-decoration: none !important;
}

:global(#me) {
  transition: transform 0.3s ease-in-out;
}

:global(#me):hover {
  transform: scale(1.5);
}

:global(#globalShadows) {
  -webkit-box-shadow: 0px -10px 56px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px -10px 56px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 0px -10px 56px 0px rgba(0, 0, 0, 0.39);
}
:global(#upsidebtn):hover {
  color: white !important;
}
/* Helper Class */
.spacer {
  width: 0px !important;
}

.input {
  width: 150px !important; /* Varsayılan genişlik */
}

@media (min-width: 576px) {
  /* Small devices (phones, portrait 576px and up) */
  .input {
    width: 200px !important;
  }
  .spacer {
    width: 0px !important;
  }
}

@media (min-width: 768px) {
  /* Medium devices (tablets, 768px and up) */
  .input {
    width: 300px !important;
  }
  .spacer {
    width: 0px !important;
  }
}

@media (min-width: 992px) {
  /* Large devices (desktops, 992px and up) */
  .input {
    width: 400px !important;
  }
  .spacer {
    width: 124px !important;
  }
}

@media (min-width: 1200px) {
  /* Extra large devices (large desktops, 1200px and up) */
  .input {
    width: 500px !important;
  }
  .spacer {
    width: 124px !important;
  }
}

@media (min-width: 1400px) {
  /* XXL devices (extra large desktops, 1400px and up) */
  .input {
    width: 600px !important;
  }
  .spacer {
    width: 124px !important;
  }
}
